<div class="container">

    <div class="row align-items-center my-3">

        <div class="col-md-auto">
            <form class="form-inline">

                <div class="form-group mx-sm-3 mb-2">
                    <div class="input-group ">
                        <input class="form-control" [(ngModel)]="reminderText" name="body" />
                    </div>
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy"
                               name="date" [(ngModel)]="reminderDate" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col mx-sm-3 mb-2">
            <ngb-timepicker [(ngModel)]="reminderTime" name="time" [spinners]="false"></ngb-timepicker>
        </div>

        <div class="col mx-sm-3 mb-2">
            <button class="btn btn-outline-primary" (click)="add()">Добавить</button>
        </div>

        <div class="col mx-sm-3 mb-2">
            <button class="btn btn-outline-primary" (click)="requestPermission()">Включить уведомления</button>
        </div>

        <div class="col mx-sm-3 mb-2">
            <button class="btn btn-outline-primary" (click)="pushNotification()">Уведомить</button>
        </div>

    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Напоминание</th>
                    <th>Напомнить в</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reminder of reminders">
                    <td>{{reminder.reminderText}}</td>
                    <td>{{reminder.reminderDate}}</td>
                    <td>
                        <button (click)="delete(reminder)" class="btn btn-sm btn-danger">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>