<div class="container">

    <div class="row align-items-center my-3">

        <div class="col-5 mx-sm-1 mb-2">
            <div class="input-group ">
                <input required="" class="form-control" placeholder="Введите заметку" [(ngModel)]="reminderText" name="body"/>
            </div>
        </div>

        <div class="col mx-sm-1 mb-2">
            <div class="input-group">
                <input class="form-control" name="date" [(ngModel)]="Date" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <div class="col mx-sm-1 mb-2">
            <ngb-timepicker [(ngModel)]="Time" name="time" [spinners]="false"></ngb-timepicker>
        </div>

        <div class="col-3 mx-sm-1 mb-2">
            <button class="btn btn-outline-primary" (click)="add()">Добавить заметку</button>
        </div>
        <div class="col-3 mx-sm-1 mb-2">
            <button class="btn btn-info" *ngIf="this.pushNotifications.permission != 'granted'" (click)="requestPermission()">Включить уведомления</button>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Заметка</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reminder of reminders">
                <td>{{reminder.reminderText}}</td>
                <td>
                    {{reminder.reminderDate}}
                    <button (click)="delete(reminder)" class="btn btn-sm btn-danger float-right">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>